<footer class="site-footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <p class="footer-name"><a href="index.html">Bigelow Cooperative</a></p>
        <address class="footer-address">
          44 Park Street<br />
          Somerville, MA 02143<br />
          <a href="tel:6176235400">617-623-5400</a><br />
          <a href="mailto:info@bigelowcoop.org">info@bigelowcoop.org</a>
        </address>
        <div class="footer-social">
          <a
            href="https://facebook.com/bigelowcoop"
            target="_blank"
            rel="noopener"
            >Facebook</a
          >
          <a
            href="https://instagram.com/bigelowcoop"
            target="_blank"
            rel="noopener"
            >Instagram</a
          >
        </div>
      </div>
      <div class="footer-col">
        <h4>Pages</h4>
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="programs.html">Programs</a></li>
          <li><a href="enrollment.html">Enrollment</a></li>
          <li><a href="schedule-a-tour.html">Schedule a tour</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Quick links</h4>
        <ul>
          <li><a href="enrollment.html#tuition">Tuition &amp; schedules</a></li>
          <li><a href="enrollment.html#faq">FAQ</a></li>
          <li><a href="schedule-a-tour.html">Request enrollment info</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        &copy; 2026 Bigelow Cooperative Daycare Center. All rights reserved.
      </p>
      <p class="footer-credit">Site by Nick Del Vecchio</p>
    </div>
  </div>
</footer>
